<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PushServiceTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UNNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18460D561F958D000005BCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18460D6F1F958D000005BCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18460D7A1F958D000005BCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18460DD21F9643CF0005BCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F06A0B1F96F1D100608D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F9803C1F987466007CEBFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F980501F988241007CEBFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
